.hints {
  width: 200px;

  >div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 24px;
    border: 2px solid white;
    background-color: rgb(2, 72, 119);
    font-size: 12px;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    >mat-icon {
      font-size: 24px;
    }

    &:hover {
      background-color: #0091b6;
    }

    &[disabled] {
      background-color: rgb(2, 60, 99);
      opacity: 0.5;
      border: none;
    }

    &:active {
      transform: translateY(2px);
     }
  }
}


@media(max-width: 768px) {
  .hints {

    button {
      margin-bottom: 10px;
    }
  }
}
