<div *ngIf="settings$ | async as settings" class="hints row">
  <div class="col-md-6 col-sm-12">
    <button
      [disabled]="!settings.fiftyFifty || hintsService.fiftyUsed"
      (click)="useFifty()"
      matTooltip="Можливість прибрати дві неправильні відповіді">
      50/50
    </button>
  </div>
  <div class="col-md-6 col-sm-12">
    <button
      [disabled]="!settings.help || hintsService.helpUsed"
      (click)="useHelp()"
      matTooltip="Друг скаже думку про правильну відповідь">
      <mat-icon> phone</mat-icon>
    </button>
  </div>
</div>
