.results {
  width: 100% !important;

  >.actual {
    background-color: gold !important;
  }

  >.done {
    color: green;

  }
  >.results__item {
    margin: 5px 0;
    padding: 5px;
    text-align: center;
    background-color: #189ef8;
    border-radius: 12px;
    border: 1px solid #0385db;
  }
}

.medium-length {

  >.results__item {
    margin: 3px;
    padding: 3px;
    font-size: 16px;
  }
}

.long-length {

  >.results__item {
    margin: 2px;
    padding: 2px;
    font-size: 14px;
  }
}

.very-long-length {
  top: 70px;
  padding: 2px;

  >.results__item {
    margin: 1px;
    padding: 1px;
    font-size: 13px;
  }
}

@media(max-width: 500px){
  .results {
    font-size: 12px;
  }
}

